<mat-card class="project-card" [@cardAnimation]>
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Project options">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p class="project-description">{{ project.description }}</p>
      <div class="project-details">
        <div class="detail-item">
          <mat-icon>event</mat-icon>
          <span>Start: {{ project.startDate | date:'MMM d, yyyy' }}</span>
        </div>
        <div class="detail-item">
          <mat-icon>event_available</mat-icon>
          <span>End: {{ project.endDate | date:'MMM d, yyyy' }}</span>
        </div>
        <div class="detail-item">
          <mat-icon>attach_money</mat-icon>
          <span>Budget: {{ project.budget | currency }}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="view-tasks-btn">
        <mat-icon>visibility</mat-icon>
        VIEW TASKS
      </button>
      <button mat-stroked-button class="edit-btn" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
        EDIT
      </button>
    </mat-card-actions>
  </mat-card>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>