
<aside class="sidebar">
  <div class="user-profile">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/13ca01c8ded3f9b3084225f8bfd80cab59d659fe9b31408bcb44ec9570f342db?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="User profile picture" class="user-avatar">
    <h2 class="user-name">Dash Admin</h2>
    <p class="user-title">your dash</p>
  </div>
  <nav class="sidebar-menu">
    <ul>
      <li class="menu-item active">
        <a [routerLink]="['dashboard']">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a913803d719aac631daa95b355743f972a50bdec2804a71571de9b775d47f4e5?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">Dashboard
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['pageUser']">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/38a0b260f61d8562b0e8553f86007842758240966e70a326abbd888edb9804d0?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">Users
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['pageTech']">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/01c76e650e2b3dcfd8d7dacbab1d9b9b0916b52e5d242728dc47f8055eb9bb46?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">Technicians
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['equipments-page']">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/01c76e650e2b3dcfd8d7dacbab1d9b9b0916b52e5d242728dc47f8055eb9bb46?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">Equipments
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['break-page']">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f2cad9745c493b4c7547f4cad44d57dde4d4cf0c19ed618fb28d133be6846e0e?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">Breakdowns
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['tickets-management']">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad483cf7d7d4d089bd624211a916b0feaf1e0b81ca337b79a9b9c48ef5d1ea6a?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">Tickets
        </a>
      </li>
      <li class="menu-item">
        <a href="#">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad483cf7d7d4d089bd624211a916b0feaf1e0b81ca337b79a9b9c48ef5d1ea6a?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">
          Notifications
          <span class="notification-badge">5</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ccd8dda6a0868ef015748267421d806978c0d7208c94f642e5cb4ba20c2c183d?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="menu-icon">Settings
        </a>
      </li>
    </ul>
  </nav>
  <div class="sidebar-footer">
    <a href="#" class="footer-link">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f1c20249570bcff21bc929ec7604176bbe1c524f0ae002cd2c134b22ce85d90?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="footer-icon">Help & Support
    </a>
    <a href="/"  class="footer-link logout">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f242cfee0b00d62b624856676addd77d3082a3b60e77d427fedae0a7f62fc171?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="footer-icon">Logout
    </a>
  </div>
</aside>
