<div class="container">
  <div class="signup-form">
    <div class="close-btn">
      <span>&times;</span>
    </div>
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <div class="input-group">
        <label for="fullName">Name:</label>
        <input type="text" id="fullName" formControlName="fullName" required />
      </div>
      <div class="input-group">
        <label for="username">Your username:</label>
        <input type="text" id="username" formControlName="username" placeholder="Enter your email" required />
      </div>

      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required />
      </div>
      <div class="input-group">
        <label for="email">Your Email:</label>
        <input type="text" id="email" formControlName="email" placeholder="Enter your email" required />
      </div>
      <select formControlName="role">
        <option value="CUSTOMER">Customer</option>
        <option value="ADMIN">Admin</option>
      </select>

      <button type="submit" class="signup-btn">Sign Up</button>
    </form>
  </div>
</div>
